.slide-newproduct{
    .slick-next:before,
  .slick-prev:before {
    position: absolute;
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #2f2f2f;
  }
  .slick-disabled{
    display: none !important;
  }
}