@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;


}

section {
  margin-bottom: 30px;
}

main{
  padding: 5px;
 } /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
/* //background: linear-gradient(to right, #E2E2E2, #C9D6FF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 


::selection {
  font-weight:bolder;
  color: #ff7e5f;
  
}

main {
  min-height: 100vh;
}

p {
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
}


.btn-primary-main:hover{
  background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #0083b0,
      #00b4db
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #0083b0,
      #00b4db
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ant-btn-default:hover{
  color: #FFFFFF !important;
  background: #00b4db !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #0083b0,
      #00b4db
    ) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #0083b0,
      #00b4db
    ) !important;
}

.backgound-tour-page{
  background-image: url('./Images/person/bgslide3.png'); /*assets/backgound-tour.png'*/
  background-repeat: no-repeat;
  background-size: contain ;
  height: 350px;
  background-position: center;
  background-attachment: fixed;
}
.background-home{
  background-image: url('https://images.unsplash.com/photo-1471958680802-1345a694ba6d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1566&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  background-position: center;
  background-attachment: fixed;
}

